.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card {
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer {
    height: 5vh;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 6.75rem);
}

$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;
body {
    background-color: $background;
}

.table-latitude {
    width: 100%;

    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $lfs-yellow;
        text-align: center;
    }


    tr {
        border-bottom: 1px solid #F1F1F1;
        color: $lfs-grey;

        td {
            padding: 10px;
            border: 1px solid #F1F1F1;
        }

        th {
            padding-left: 10px;
            border: 1px solid #F1F1F1;
        }
    }

}
