.main {
    background: #F7F7F7;
}

.is-fullheight.columns {
    min-height: calc(100vh - 6.75rem);
}

.is-fullwidth.columns {
    width: 100%;
}

.is-fullheight.main {
    min-height: calc(100vh - 6.75rem);
}

.is-fullheight.section {
    min-height: calc(100vh - 6.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card {
    padding: 0;
    border-radius: 5px;

    header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-header {
        .card-header-title {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }
}

.footer {
    height: 5vh;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 6.75rem);
}

.h3 {
    size: 14px;
}

$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;
body {
    background-color: $background;
}

.table-actions {
    .md-table-cell-container {
        display: flex;
    }
}



.md-table-cell {
    .md-table-cell-container {
        .active-input {
            border: 1px solid rgba(19, 18, 18, 0.47)
        }
        .md-card {
            box-shadow: none;
            background: none;
            .md-card-content {
                padding: 0;
            }
            .md-list {
                background: none;
                .md-list-item-content {
                    min-height: auto;
                    font-size: 13px;
                    padding-left: 0;
                }
            }
            .md-button {
                margin-left: 0;
            }
        }
    }
}
